doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="#")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css' integrity='sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
        link(rel='stylesheet' href='/css/basic.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src='https://unpkg.com/axios/dist/axios.min.js')
        title Location
    body 
        include includes/header.pug
        .ui.bottom.attached.segment
            include includes/sidebar.pug
            .pusher
                .ui.basic.segment
                    .crud-table(ng-app='myApp', ng-controller='namesCtrl')
                        .clearfix
                            .form-inline.pull-left
                                button.btn.btn-success#newconter
                                    span.glyphicon.glyphicon-plus 
                                    | Add new Counter
                        table.table.table-striped
                            thead
                                tr
                                    th i1
                                    th i2
                                    th i3
                                    th n_v1
                                    th n_v2
                                    th n_v3
                                    th v1_v2
                                    th v1_v3
                                    th v2_v3
                                    th cos
                                    th counterName
                                    th createdAt
                                    th updatedAt
                                    th
                                    th
                            tbody.text-center#conterbody
                        section.dn#createconter
                            .container
                                .row.justify-content-center
                                .col-12.col-md-8.col-lg-8.col-xl-6
                                    .row
                                    .col.text-center.title
                                        h1 Create New Counter 
                                        //- i1 i2 i3 n_v1 n_v2 n_v3 v1_v2 v1_v3 v2_v3 cos counterName
                                    .row.align-items-center
                                        .col.mt-4
                                            input.form-control(type='number', id='i1' placeholder='i1')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='i2' placeholder='i2')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='i3' placeholder='i3')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='n_v1' placeholder='n_v1')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='n_v2' placeholder='n_v2')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='n_v3' placeholder='n_v3')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='v1_v2' placeholder='v1_v2')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='v1_v3' placeholder='v1_v3')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='v2_v3' placeholder='v2_v3')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='cos' placeholder='cos')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='string', id='counterName' placeholder='counterName')
                                    .row.justify-content-start.mt-4
                                        .col
                                            button.btn.btn-primary.mt-4#createconterbtn Create
                        section.dn#updateconter
                            .container
                                .row.justify-content-center
                                .col-12.col-md-8.col-lg-8.col-xl-6
                                    .row
                                    .col.text-center.title
                                        h1 Update Conter
                                    .row.align-items-center
                                        .col.mt-4
                                            input.form-control(type='number', id='updatei1' placeholder='i1')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='updatei2' placeholder='i2')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='updatei3' placeholder='i3')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='updaten_v1' placeholder='n_v1')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='updaten_v2' placeholder='n_v2')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='updaten_v3' placeholder='n_v3')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='updatev1_v2' placeholder='v1_v2')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='updatev1_v3' placeholder='v1_v3')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='updatev2_v3' placeholder='v2_v3')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='number', id='updatecos' placeholder='cos')
                                    .row.align-items-center.mt-4
                                        .col
                                            input.form-control(type='string', id='updatecounterName' placeholder='counterName')
                                    .row.justify-content-start.mt-4
                                        .col
                                            button.btn.btn-primary.mt-4#updateconterbtn Update
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js', integrity='sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==', crossorigin='anonymous', referrerpolicy='no-referrer')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
        script(src='/js/main.js')
        script(src='/js/counter/counter.js')